body{ 
background: #111; 
background-size: 200px;
position: relative;
}
.lico{
width: 155px;
height: 165px;
border-radius: 100%
}
.header{
position:absolute ;
color: wheat;
top: 150px; ;
left: 150px;
}

.biography{
position: absolute;
left: 750px;
top: 10px;
font-size: 30px;
font-family: 'Sora';
font-style: normal;
color: wheat;
width: 505px;
height: 165px;
}
.Services{
position: absolute;
right: 1050px;
font-size: 36px;
width: 300px;

}
.Frontend{
position: absolute;
right: -260px;
top: 125px;
font-size: 26px;
background-color: #1e1e1e;
width: 550px;
height: 220px;
padding: 10px;
border-radius: 10px;
transition: transform 0.3s ease-in-out;
display: inline-block;
}
.Frontend li{
margin-left: 30px;
line-height: 1;
font-size: 22px;
}
.Frontend:hover{
transform: scale(1.1);
}
.Backend{
position: absolute;
right: -260px;
top: 457px;
font-size: 28px;
background-color: #1e1e1e;
width: 550px;
height: 220px;
padding: 10px;
border-radius: 10px;
transition: transform 0.3s ease-in-out;
display: inline-block;
}
.Backend li{
margin-left: 30px;
line-height: 1;
font-size: 22px; 
}
.Backend:hover{
transform: scale(1.1);
}

.Technologies{
position: absolute;
left: 750px;
top: 125px;
font-size: 28px;
background-color: #1e1e1e;
width: 550px;
height: 220px;
padding: 10px;
border-radius: 10px;
transition: transform 0.3s ease-in-out;
display: inline-block;
}
.Technologies li{
margin-left: 30px;
line-height: 1;
font-size: 22px; 
}
.Technologies:hover{
transform: scale(1.1);
}

.Other{
position: absolute;
left: 750px;
top: 457px;
font-size: 30px;
background-color: #1e1e1e;
width: 550px;
height: 220px;
padding: 10px;
border-radius: 10px;
transition: transform 0.3s ease-in-out;
display: inline-block;
}
.Other li {
margin-left: 30px;
line-height: 1;
font-size: 22px;
}
.Other:hover{
transform: scale(1.1);
}

.Footer{
position: absolute;
top: 900px;
left: 640px;
font-size: 14px;
color: gray;
white-space: nowrap;
}
.mail-btn {
  position: absolute;
  right: 1140px;
  top: 280px;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: #2c2b2b;
  color: rgb(247, 232, 203);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  transition: 0.2s;
}

.mail-btn:focus {
  outline: none;
}
.mail-btn:hover {
  background-color: #191919;
}

.tgicon{
position: absolute;
right: 1220px;
top: 350px;
height: 30px;
width: 30px;
transition:opacity 0.3s ease;
}
.tgicon:hover{
opacity: 0.5;
}

.giticon{
position: absolute;
right: 1170px;
top: 350px; 
transition:opacity 0.3s ease;
}

.giticon:hover{
opacity: 0.5;
}